# =========================
# 🔐 ENV
# =========================
.env
.env.*
**/.env

# =========================
# 🟢 JAVA / SPRING
# =========================
**/target/
**/*.log
**/logs/

# Maven
**/.mvn/wrapper/maven-wrapper.jar

# =========================
# 🟣 FRONTEND
# =========================
front-barbershop/node_modules/
front-barbershop/dist/
front-barbershop/build/
front-barbershop/.vite/
front-barbershop/.next/

# logs frontend
front-barbershop/npm-debug.log*
front-barbershop/yarn-debug.log*
front-barbershop/yarn-error.log*

# =========================
# 🟡 IDEs
# =========================
.idea/
.vscode/
*.iml
*.ipr
*.iws

# =========================
# 🔵 STS / Eclipse
# =========================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# =========================
# 🟠 NetBeans
# =========================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# =========================
# 🔴 OS
# =========================
.DS_Store
Thumbs.db
*.swp

